<ons-page id="Detail">
    <div class="left">
        <ons-back-button>back</ons-back-button>
    </div>
    <p style="text-align: center;">
        <img src="img/m1.jpeg" width="188" height="275" style="text-align:center;">
    </p>
    <div>
    <p style="text-align: center;">
       
        <h1>X-Men: Dark Phoenix</h1>
        ในปี 1975 Jean Greyอายุแปดขวบมีส่วนร่วมในรถชนขณะขับรถกับพ่อแม่ของเธอ พวกเขาทั้งสองถูกฆ่าตายทันทีทิ้งเธอกําพร้า
        ศาสตราจารย์ Charles ซาเวียร์พาเธอไปโรงเรียนซาเวียร์สําหรับ Youngsters
        พรสวรรค์ที่เขาสัญญาว่าจะสอนจีนวิธีการใช้ของขวัญของเธอให้ดี

        ในปี 1992 X-Menตอบสนองต่อสัญญาณความทุกข์จากความพยายามอวกาศ Shuttle
        Endeavourซึ่งได้รับความเสียหายอย่างมากจากพลังงานเปลวไฟเหมือนแสงอาทิตย์ ในขณะที่การประหยัดนักบินอวกาศ, Jean
        ถูกหลงโดยพลังงาน. เธอรอดจากการระเบิดและดูดซับพลังงานช่วยประหยัดเครื่องบินของทีมของเธอจากการทําลาย อย่างไรก็ตาม,
        เป็นผลมาจากพลังงาน, พลังกายสิทธิ์ของเธอมีการขยายอย่างมาก, และรัฐทางอารมณ์ของเธอเริ่มเสื่อมสภาพ.
        ขณะที่เธอกลายเป็นทุกข์มากขึ้นอํานาจของ Jean ยังคงยากที่จะควบคุม
        เธอบังเอิญปลดปล่อยพลังของเธอในการกลายพันธุ์ฉลองชัยชนะในพื้นที่ที่โรงเรียนซาเวียร์
    </p>
    <div>
    <p style="text-align: center;">
        <img src="img/m1.jpeg" width="250" height="200" style="text-align:center;">
    </p>
</ons-page>