<ons-page id="Favorite">
    <p style="text-align:left;">
        <div >
        <img src="img/m1.jpeg" width="188" height="275" style="float:left; margin:20px 10px;">
        <br><b><h1>X-Men: Dark Phoenix</h1></B><br>
        </div>
            <div>
        <img src="img/m2.jpeg" width="188" height="275" style="float:left; margin:20px 10px;">
        <br><b><h1>ฉลาดเกมโกง</h1></B><br>
        </div>
            <div>
        <img src="img/m3.jpeg" width="188" height="275" style="float:left; margin:20px 10px;">
        <br><b><h1>Ant-Man</h1></B><br>
        </div>
            <div>
        <img src="img/m4.jpeg" width="188" height="275" style="float:left; margin:20px 10px;">
        <br><b><h1>DeadPool</h1></B><br>
        </div>
    </div>
    </p>
</ons-page>